@media (max-width: 760px){
    *{
        font-size: 8px !important;
    }
    .heading{
        width: 100% !important;
    }
    .inps{
        width: 100% !important;
    }
    .summary{
        width: 100% !important;
    }
    .main{
        width: 100% !important;
    }
    ol{
        width: 100% 1 !important;
    }
    ul{
        width: 100% !important;
    }
    .ReportType{
        width: 100% !important;
    }
    .passkey{
        background: url(https://media.tenor.com/QCZVRurZoKsAAAAM/feliz-noche.gif);
        background-size: cover;
    }
}