*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.heading{
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
}
.heading h2{
    padding: 10px;
}
.heading p{
    padding: 10px;
    font-style: italic;
}
.inps{
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    width: 550px;
    color: white;
}
.inps input{
    padding: 5px 10px;
    margin: 0 10px;
}
.inps button{
    padding: 5px 10px;
}
.main{
    width: 550px;
    margin: 0 auto 100px;
    border: 3px solid blue;
}
ul{
    padding: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #777;
}
ul li{
    width: calc(100% / 7);
}
ol{
    width: 100%;
}
ol li{
    width: 100%;
    display: flex;
    padding: 10px;
}
ol li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
ol li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.3);
}





ol li span{
    width: calc(100% / 7);
}