*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.user{
    display: none;
}
a{
    text-decoration: none;
}
.nav{
    position: sticky;
    top: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
    background-color: white;
}
.heading h2{
    padding: 10px;
}

.heading p{
    padding: 10px;
    font-style: italic;
}
.heading p a{
    display: none;
}
.ReportType{
    width: 750px;
    padding: 10px 0;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ReportType button{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
}
.inps{
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    width: 750px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}
.inps select{
    padding: 5px;
}
.inps .inputItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inps input{
    padding: 5px 10px;
    margin: 0 10px;
    width: 100px;
    
}
.inps button{
    padding: 5px 10px;
}
.inps button:hover{
    background-color: red;
    color: white;
}
.summary{
    width: 750px;
    background-color: #666;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary .datas{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.main{
    width: 750px;
    margin: 0 auto 100px;
}
ul{
    margin: 0 auto;
    width: 750px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #777;
}
ul li{
    padding: 10px 0;
    width: calc(100% / 7);
    text-align: center;
    color: white;
    border: 1px solid white;
}
ol{
    width: 100%;
}
ol li{
    width: 100%;
    display: flex;
    padding: 10px;
}
ol li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
ol li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}



ol li span{
    width: calc(100% / 7);
    text-align: center;
}
.passkey{
    position: sticky;
    width: 100%;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2019/08/21/09/46/mountains-4420690_1280.jpg);
    background-size: cover;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.passkey span{
    color: white;
}
.passkey input{
    padding: 10px 20px;
    border-radius: 10px;
    background: transparent;
}
.passkey button{
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.passkey #warn{
    color: white;
}